

<br><br><br>
<div class="copyright">
     <div class="container">
       
         <div class="row text-center">
          <p>Copyright Emerald International <br>© 2017 All rights reserved</p>
         </div>
         
     </div>
    </div>
